.product-card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
  position: relative;
}

.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 15px;
}

.product-card h4 {
  font-size: 16px;
  margin-bottom: 8px;
}

.product-card p {
  font-weight: bold;
  color: #e63946;
  margin-bottom: 12px;
}

.product-card button {
  background: linear-gradient(to right, #ffb400, #ff6a00);
  border: none;
  padding: 10px 18px;
  border-radius: 25px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

.product-card button:hover {
  transform: scale(1.05);
}
