.search-bar {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.search-bar input {
  width: 450px;
  padding: 12px 20px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  outline: none;
  font-size: 15px;
  transition: 0.3s;
}

.search-bar input:focus {
  box-shadow: 0 4px 20px rgba(255, 180, 0, 0.5);
}
